

<div class="container-fluid bandas">
    <div class="row">
        
        <div class="col">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/angra" routerLinkActive="active-link">Angra</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/arch-enemy" routerLinkActive="active-link">Arch Enemy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/blind-guardian" routerLinkActive="active-link">Blind Guardian</a>
                </li>            
            </ul>
        </div>

        <div class="col">
            <img src="src/assets/Blind-Guardian-II.jpg" class="img-fluid" alt="Bandas" width=750 height=400>            
        </div>

        <div class="col">
            <p>
            </p>            
        </div> 
        
        <div class="descricao">
            <p>Blind Guardian é uma banda de power metal formada no ano de 1984, em Krefeld, na Alemanha. Antes de adotarem o nome Blind Guardian, os músicos da formação original lançaram duas demos com o nome Lucifer's Heritage, em 1985 e 1986.[1] Os membros da banda são: Hansi Kürsch como vocalista, André Olbrich e Marcus Siepen nas guitarras, Frederik Ehmke na bateria, e Barend Courbois no baixo. A banda geralmente busca inspiração para suas músicas na cultura medieval, nas mitologias nórdica e grega e nas obras de J. R. R. Tolkien.</p>
        </div>
    
        <div class="eventos">
            <div class="card bg-transparent">
                <div class="card border-primary mb-3 bg-transparent" style="max-width: 40rem;">
                    <div class="card-header text-white">Header</div>
                    <div class="card-body text-white">
                      <h5 class="card-title">Primary card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                  </div>
                  <div class="card border-secondary mb-3 bg-transparent" style="max-width: 40rem;">
                    <div class="card-header text-white">Header</div>
                    <div class="card-body text-white">
                      <h5 class="card-title">Secondary card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                  </div>
                  <div class="card border-success mb-3 bg-transparent" style="max-width: 40rem;">
                    <div class="card-header text-white">Header</div>
                    <div class="card-body text-white">
                      <h5 class="card-title">Success card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                  </div>
                  <div class="card border-danger mb-3 bg-transparent" style="max-width: 40rem;">
                    <div class="card-header text-white">Header</div>
                    <div class="card-body text-white">
                      <h5 class="card-title">Danger card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                  </div>
                  <div class="card border-primary mb-3 bg-transparent" style="max-width: 40rem;">
                    <div class="card-header text-white">Header</div>
                    <div class="card-body text-white">
                      <h5 class="card-title">Primary card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                  </div>
                  <div class="card border-secondary mb-3 bg-transparent" style="max-width: 40rem;">
                    <div class="card-header text-white">Header</div>
                    <div class="card-body text-white">
                      <h5 class="card-title">Secondary card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                  </div>
                  <div class="card border-success mb-3 bg-transparent" style="max-width: 40rem;">
                    <div class="card-header text-white">Header</div>
                    <div class="card-body text-white">
                      <h5 class="card-title">Success card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                  </div>
                  <div class="card border-danger mb-3 bg-transparent" style="max-width: 40rem;">
                    <div class="card-header text-white">Header</div>
                    <div class="card-body text-white">
                      <h5 class="card-title">Danger card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                  </div>
            </div>
            
        </div>
              
    </div>
</div>
