
.nav-link.active-link {
    font-weight: bold;
    color: var(--segunda-color);    
}

* {
    background-color: black;
    color: white; 
         
}

.navbar-brand {
    font-size: 25px;
    font-family: "Poppins", sans-serif;
}
