
<div class="container-fluid footer">
    <div class="row">
        <div class="col-lg-5">
            <h1>Contato <i class="bi bi-whatsapp"></i>: (46) 9 9934-4743</h1>
            <p>email: eng.civil.rodolfoguimaraes@gmail.com</p>
        </div>

        <div class="col-lg-4">
            <a routerLink="">Home</a>
            <a routerLink="bandas">Bandas</a>
            <a routerLink="login">Login</a>            
        </div>

        <div class="col-lg-3">
            <a href="https://www.instagram.com/" target="_blank"><i class="bi bi-instagram"></i> Instagram</a>
            <a href="https://www.youtube.com/" target="_blank"><i class="bi bi-youtube"></i> Youtube</a>
            <a href="https://twitter.com/?lang=pt" target="_blank"><i class="bi bi-twitter"></i> Twitter</a>           
        </div>
    </div>
</div>