

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

.bandas {
    overflow: hidden;
    position: sticky;
    padding: 10px;
    min-height: 100vh;
    background-color: #23242a;
}

a:hover {
    color: var(--terceira-color);
}

a {
    color: white;
    text-decoration: none;
    padding: 0px 100px;
    font-size: 18px;
    display: flex;
    align-items: center;
}

