

<div class="container-fluid bandas">
    <div class="row">
        
        <div class="col">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/angra" routerLinkActive="active-link">Angra</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/arch-enemy" routerLinkActive="active-link">Arch Enemy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/blind-guardian" routerLinkActive="active-link">Blind Guardian</a>
                </li>            
            </ul>
        </div>

        <div class="col">
            <img src="/docs/assets/Bands-II.jpg"  alt="Bandas" width=1024 height=768>            
        </div>

        <div class="col">
            <p>

            </p>            
        </div>  
              
    </div>
</div>
