

<div class="container-fluid bandas">
    <div class="row">
        
        <div class="col">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/angra" routerLinkActive="active-link">Angra</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/arch-enemy" routerLinkActive="active-link">Arch Enemy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/blind-guardian" routerLinkActive="active-link">Blind Guardian</a>
                </li>            
            </ul>
        </div>

        <div class="col">
            <img src="../../../assets/Angra-II.jpg" class="img-fluid" alt="Bandas" width=750 height=400>            
        </div>

        <div class="col">
            <p>
            </p>            
        </div>  
              
    </div>

    <div class="descricao">
        <p>Angra é uma banda brasileira de power metal, formada na cidade de São Paulo em 1991, pelo vocalista, tecladista e multi-instrumentista Andre Matos e os guitarristas Rafael Bittencourt e André Linhares, após se conhecerem na Faculdade Santa Marcelina, onde cursavam composição e regência. Andre Matos havia feito parte do Viper (entre 1985 e 1990) e Rafael Bittencourt fazia parte da banda Spitfire. Após a formação inicial da banda, entraram os músicos Luis Mariutti (baixo) e Marco Antunes (bateria), e André Linhares cedeu lugar a André Hernandes, e posteriormente a Kiko Loureiro. O guitarrista Rafael Bittencourt foi o único integrante a tocar em todos os álbuns da banda.</p>
    </div>

    <div class="eventos">
        <div class="card bg-transparent">
            <div class="card border-primary mb-3 bg-transparent" style="max-width: 40rem;">
                <div class="card-header text-white">Header</div>
                <div class="card-body text-white">
                  <h5 class="card-title">Primary card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
              <div class="card border-secondary mb-3 bg-transparent" style="max-width: 40rem;">
                <div class="card-header text-white">Header</div>
                <div class="card-body text-white">
                  <h5 class="card-title">Secondary card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
              <div class="card border-success mb-3 bg-transparent" style="max-width: 40rem;">
                <div class="card-header text-white">Header</div>
                <div class="card-body text-white">
                  <h5 class="card-title">Success card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
              <div class="card border-danger mb-3 bg-transparent" style="max-width: 40rem;">
                <div class="card-header text-white">Header</div>
                <div class="card-body text-white">
                  <h5 class="card-title">Danger card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
              <div class="card border-primary mb-3 bg-transparent" style="max-width: 40rem;">
                <div class="card-header text-white">Header</div>
                <div class="card-body text-white">
                  <h5 class="card-title">Primary card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
              <div class="card border-secondary mb-3 bg-transparent" style="max-width: 40rem;">
                <div class="card-header text-white">Header</div>
                <div class="card-body text-white">
                  <h5 class="card-title">Secondary card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
              <div class="card border-success mb-3 bg-transparent" style="max-width: 40rem;">
                <div class="card-header text-white">Header</div>
                <div class="card-body text-white">
                  <h5 class="card-title">Success card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
              <div class="card border-danger mb-3 bg-transparent" style="max-width: 40rem;">
                <div class="card-header text-white">Header</div>
                <div class="card-body text-white">
                  <h5 class="card-title">Danger card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </div>
        
    </div>

</div>