

<div class="container-fluid bandas">
    <div class="row">
        
        <div class="col">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/angra" routerLinkActive="active-link">Angra</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/arch-enemy" routerLinkActive="active-link">Arch Enemy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/blind-guardian" routerLinkActive="active-link">Blind Guardian</a>
                </li>            
            </ul>
        </div>

        <div class="col">
            <img src="../../../assets/Arch-Enemy-II.jpg" class="img-fluid" alt="Bandas" width=750 height=400>            
        </div>

        <div class="col">
            <p>
            </p>            
        </div> 
        
        <div class="descricao">
            <p>Arch Enemy é uma banda sueca de death metal melódico com influências de power metal, formada em 1995. Tem uma distinção das outras bandas do gênero, por ter uma mulher como vocalista, o que é muito raro nas bandas de death metal sendo que o vocal é gutural.
              O Arch Enemy é uma das principais bandas deste subgênero do heavy metal que se convencionou chamar de 'death metal melódico', em virtude principalmente de elementos melódicos provenientes do heavy metal tradicional, do power metal, do heavy rock e até mesmo do hard rock dos anos 70 e 80. Neste sentido, uma das características principais do Arch Enemy são os riffs de guitarra compostos por Michael Amott (Rinozeronts Guitars) , que são ao mesmo tempo pesados e melódicos</p>
        </div>
    
        <div class="eventos">
            <div class="card bg-transparent">
                <div class="card border-primary mb-3 bg-transparent" style="max-width: 40rem;">
                    <div class="card-header text-white">Header</div>
                    <div class="card-body text-white">
                      <h5 class="card-title">Primary card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                  </div>
                  <div class="card border-secondary mb-3 bg-transparent" style="max-width: 40rem;">
                    <div class="card-header text-white">Header</div>
                    <div class="card-body text-white">
                      <h5 class="card-title">Secondary card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                  </div>
                  <div class="card border-success mb-3 bg-transparent" style="max-width: 40rem;">
                    <div class="card-header text-white">Header</div>
                    <div class="card-body text-white">
                      <h5 class="card-title">Success card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                  </div>
                  <div class="card border-danger mb-3 bg-transparent" style="max-width: 40rem;">
                    <div class="card-header text-white">Header</div>
                    <div class="card-body text-white">
                      <h5 class="card-title">Danger card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                  </div>
                  <div class="card border-primary mb-3 bg-transparent" style="max-width: 40rem;">
                    <div class="card-header text-white">Header</div>
                    <div class="card-body text-white">
                      <h5 class="card-title">Primary card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                  </div>
                  <div class="card border-secondary mb-3 bg-transparent" style="max-width: 40rem;">
                    <div class="card-header text-white">Header</div>
                    <div class="card-body text-white">
                      <h5 class="card-title">Secondary card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                  </div>
                  <div class="card border-success mb-3 bg-transparent" style="max-width: 40rem;">
                    <div class="card-header text-white">Header</div>
                    <div class="card-body text-white">
                      <h5 class="card-title">Success card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                  </div>
                  <div class="card border-danger mb-3 bg-transparent" style="max-width: 40rem;">
                    <div class="card-header text-white">Header</div>
                    <div class="card-body text-white">
                      <h5 class="card-title">Danger card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                  </div>
            </div>
            
        </div>
              
    </div>
</div>