
* {
    padding: 0;
    margin: 0;    
}

:root {
    --primeira-color: black;
    --segunda-color: #ff2770;
    --terceira-color: #45f3ff;

}

body {
    height: 100vh;
    //font-family: Arial, Helvetica, sans-serif;
    //background-color: var(--primeira-color);
    //color: white;    
}

